.adhesionstable{
    background: white;
    border-radius: 10px;
    margin: 2rem ;
    padding: 2rem;
}

.adhesionstable table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

.adhesionstable table tr:nth-child(odd){
   background: var(--color-primary-2);
}

.adhesionstable table tr td{
    padding: 14px;
}

.adhesionstable table tr td.name p:nth-child(2){
   color: rgba(0, 0, 0, 0.5);
}

.adhesionstable table tr td.valider p{
   background: var(--color-secondary-2);
    padding: 8px 5px;
    text-align: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    transition: all .2s ease;
}

.adhesionstable table tr td.valider p:hover{
   background: transparent;
   border: 1px solid var(--color-secondary-2);
   color: rgba(0, 0, 0, 0.5);
}

.adhesionstable table tr td.voircv{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.adhesionstable table tr td.voircv, .adhesionstable table tr td.delete{
   text-align: center;
   cursor: pointer;
   transition: all .2s ease;
   white-space: nowrap;
}

.adhesionstable table tr td.delete:hover{
   color: red;
   font-weight: bold;
}

@media (max-width: 700px){
    .adhesionstable{
        margin: 2rem .5rem;
        padding: 1rem;
        font-size: 14px;
    }
}

@media (max-width: 490px){
    .adhesionstable{
        overflow: auto;
    }
}